body{
    background-color: rgba(222, 250, 250, 0.925);
}

h1{
    background-color: grey;
    border-color: black;
    color: black;
    text-decoration: underline;
    text-align: center;
    border: 20px;
    font-family: sans-serif;

}
h3{
    
    text-decoration:underline;
    font-family: sans-serif;
}
footer{
    background-color: grey;
    text-align: center;
    text-decoration: underline;
    font-family: sans-serif;
}